/* roboto-slab-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto-slab-v36-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-slab-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/roboto-slab-v36-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-slab-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-slab-v36-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-slab-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-slab-v36-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-slab-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-slab-v36-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-slab-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-slab-v36-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-slab-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-slab-v36-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-slab-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/roboto-slab-v36-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-slab-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-slab-v36-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --bg-color: #171918;
  --main-text-color: #eee;
}
html,
body {
  scroll-behavior: smooth !important;
}
body {
  background-color: var(--bg-color);
  color: #fff;
  font-family: "Roboto Slab";
}

/*Navbar styles*/
.navbar {
  .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-text-color);
  }
  .nav-link {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--main-text-color);
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #d233d2;
    }
  }
}

/*Hero Section */
.hero {
  .portfolio-title {
    font-weight: bold;
    font-size: 6rem;
    color: var(--main-text-color);
    @media (max-width: 992px) {
      font-size: 5rem;
    }
    @media (max-width: 768px) {
      font-size: 4rem;
    }
    @media (max-width: 576px) {
      font-size: 3rem;
    }
  }
  .sub-title {
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
    color: var(--main-text-color);
  }
  .portfolio-description {
    color: #888;
  }
  .btn-hire {
    background: #d233d2;
    background: radial-gradient(
      circle,
      rgba(210, 51, 210, 1) 29%,
      rgba(174, 54, 214, 1) 100%
    );
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #141414;
    }
  }
  img {
    border-radius: 0 0 40rem 40rem;
    border: 10px solid #eee;
    overflow: hidden;
    box-shadow: 0 0 10px #d233d2;
  }
}
